* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;
  @include respond($laptop) {
    font-size: 75%;
  }
}
body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}
img {
  max-width: 100%;
}
h1 {
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  font-weight: 600;
}
P {
  font-size: 1.6rem;
  line-height: 1.5;
}
