$Pink: hsl(322, 100%, 66%);
$VeryPaleCyan: hsl(193, 100%, 96%);
$VeryDarkCyan: hsl(192, 100%, 9%);
$GrayishBlue: hsl(208, 11%, 55%);
$phone: 37.5em;
$tab-port: 47.8em;
$tab-land: 56.25em;
$laptop: 75em;
$white: #fff;
